.App {
  text-align: center;
  /* background-color: #02010a; */
}

#add-concert-card,
#home-card {
  width: 1100px;
  margin-top: 40px;
  margin-left: 600px;
  padding: 20px;
}

/* #search {
  width: 50%;
} */
