.App {
  text-align: center;
  /* background-color: #02010a; */
  /* background: linear-gradient(#764BA2, #667EEA); */
}

#navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#navH2  {
  color: #FF4081;
  text-decoration: none;
  margin-left: 20px;
}

.cancelBtn  {
  background-color: #6200EA;
  color: #E8EAF6;
  border-radius: 20px;
}

#intro  {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  width: 80%;
}

#right-side {
  /* background-color: #EDE7F6; */
  /* background-color: #E8EAF6; */
  background: linear-gradient(#764BA2, #667EEA);
  width: 100%;
}

h1  {
  color: #FF4081;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 40px;
}

.description    {
  width: 600px;
  margin-left: 200px;
  margin-top: 20px;
  /* color: #6200EA; */
  color: #EDE7F6;
  font-size: 1.3rem;
}

.addBtn {
  font-size: 1.4rem;
  background-color: #FF4081;
  /* color: #E8EAF6; */
  border-radius: 20px;
}

#addBtnLink {
  color: #E8EAF6;
  text-decoration: none;
}

#results    {
  background-color: #EDE7F6;
  width: 80%;
  height: auto;
  margin-left: 250px;
}

#searchBtn  {
  font-size: 1.4rem;
  background-color: #FF4081;
  width: 150px;
  border-radius: 10px;
}

.tableData  {
  width: 75px;
}

#oneConcertPage {
  background-color: #EDE7F6;
  height: 100vh;
}
#oneConcertPageH2   {
  font-size: 5rem;
  color: #6200EA;
  padding-top: 20px;
}

#oneConcertCard {
  width: 40rem;
  margin-left: 750px;
  margin-top: 60px;
  height: 20rem;
}

#oneConcertCardTitle  {
  font-size: 1.5rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.oneConcertCardText {
  font-size: 1.3rem;

}

#editLink {
  color: #6200EA;
  padding: 10px;
}
